/* xs */
img {
    margin-left:2%;
    width: 95%;
    height: auto;
}
#sideNav {
    margin-left:2%;
    width: 50%;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    img {
        width: 49%;
    }
}
@media (min-width: 768px) {
    #sideNav {
        width: 40%;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width:49%;
    }
}
@media (min-width: 992px) {
    #sideNav{
        width:30%;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 24%;
    }
}
@media (min-width: 1200px) {
    #sideNav {
        width: 20%;
    }
}